@import "mixins.scss";


$black: #011627;
$blacklight: #656073;


* {
  box-sizing: border-box;
  font-family: "HelvericaNeueCyr";
  font-weight: 400;
}

.main-wrap{
  overflow: hidden;
  position: relative;

  & > div {
    position: relative;
    z-index: 1;
  }
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  color: #253444;
  box-sizing: border-box;
}

.tablet{
  @media (max-width: 992px) {
    display: none;
  }
}

.mobile{
  @media (max-width: 768px) {
    display: none;
  }
}

input{
  transition: 0.3s;

  &:focus{
    border-color: #5b6e7b !important;
    color: #163143 !important;
  }
  &:active{
    border-color: #5b6e7b !important;
  }

}
.correct input,
.correct textarea{
  color: #5b6e7b !important;
  border-color: #aef7e9 !important;
}

.error-field input,
.error-field textarea{
  color: #5b6e7b !important;
  border-color: #ee789a !important;
}

.page__wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.site-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-btn{
  background: #FFC700;
  padding: 15px 33px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  transition: 0.3s;

  &:hover{
    box-shadow: 0px 0px 9px #FFC700;
  }
}


.header{
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s;

  &.scroll{
    background: rgba(255, 255, 255, 1);
  }

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @include for-992{
      height: 45px;
    }
  }

  &__logo{
    width: 185px;

    img{
      max-width: 100%;
    }

    @include for-550{
      width: 92px;
    }
  }

  &__menu{
    display: flex;
    transition: 0.3s;

    @include for-992{
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      margin-top: 45px;

      &.open{
        transform: translateX(0);
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: white;
      }
    }

  }

  &__menu-item{
    padding: 0 15px;
    position: relative;

    @include for-992{
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
    }

    @include from-992{
      &:hover{
        .header__submenu{
          display: block;
        }
      }
    }

    @include for-992{
      &.open .header__submenu{

      }
    }

  }

  &__menu-link{
    font-weight: normal;
    font-size: 10px;
    position: relative;
    transition: 0.3s;

    @include for-992{
      font-size: 18px;
    }

    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 26px;
      top: 100%;
      left: 0;
    }

    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #FFC700;
      position: absolute;
      bottom: -8px;
      left: 0;
      opacity: 0;
      transition: 0.3s;
    }

    &:hover{
      color: #FFC700;

      &:after{
        opacity: 1;
      }
    }
  }

  &__submenu{
    position: absolute;
    display: none;
    background: white;
    top: 100%;
    margin-top: 20px;
    left: 15px;
    width: 200px;
    padding: 0 10px 0 20px;

    @include for-992{
      position: static;
      width: 100%;
    }

    *{
      line-height: 18px;
    }
  }

  &__submenu-item{
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:last-child{
      border: 0;
    }

    @include from-992{
      &:hover{
        .header__submenu2{
          display: block;
        }
      }
    }

    @include for-992{
      &.open .header__submenu2{

      }
    }

  }

  &__submenu-link-style{
    font-weight: 300;
    font-size: 11px;
    line-height: 18px;

    @include for-992{
      font-size: 14px;
    }

  }

  &__submenu-link{
    position: relative;
  }

  &__submenu2{
    position: absolute;
    display: none;
    background: white;
    left: 100%;
    top: 0;
    width: 200px;
    padding: 0 12px 0 17px;

    @include for-992{
      position: static;
      width: 100%;
      margin-top: 10px;
      padding: 0;
    }
  }

  &__submenu2-item{
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:last-child{
      border: 0;
    }

    @include from-992{
      &:hover{
        .header__submenu3{
          display: block;
        }
      }
    }
  }

  &__submenu2-link{

  }

  &__submenu3{
    position: absolute;
    display: none;
    background: white;
    left: 100%;
    top: 0;
    width: 200px;
    padding: 0 12px 0 17px;


    @include for-992{
      position: static;
      width: 100%;
      margin-top: 10px;
    }
  }

  &__submenu3-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:last-child{
      border: 0;
    }
  }

  &__submenu3-link{

  }

  &__btn{
    @include for-1100{
      display: none;
    }
  }

  &__phone{
    @include from-992{
      display: none;
    }

    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-left: auto;
    margin-right: 15px;
  }

  &__menu-btn{
    @include from-992{
      display: none;
    }

    width: 24px;
    height: 24px;
    background: url("../img/icon/Burger.svg") center center no-repeat;

    &.open{
      background: url("../img/icon/Vector.svg") center center no-repeat;
    }
  }

}

.has-submenu{

  &.header__submenu-item{

  }


  &:after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 17px;
    right: 10px;
    background: #FFC700;
    border-radius: 50%;
  }

  @include for-992{

    &:after{
      content: '';
      display: block;
      width: 12px;
      height: 8px;
      background: url("../img/icon/Arrow-b.svg") center center no-repeat;
      position: absolute;
      right: 50%;
      margin-right: -116px;
      top: 20px;
      transform: translateY(-50%);
    }

    &.open:after{
      transform:rotate(-180deg);
      top: 17px !important;
    }
  }

}

.has-submenu-first{
  li{
    padding: 9px 0;

    a{
      display: inline-block;
    }

    @include from-992{
      &:before{
        content: '';
        display: block;
        position: absolute;
        height: calc(100% + 1px);
        left: -20px;
        width: 2px;
        top: 0;
        background: #FFC700;
        opacity: 0;
        transition: 0.3s;
      }

      &:hover{
        &:before{
          opacity: 1;
        }
      }
    }


    li:before{
      display: none;
    }

    @include for-992{
      border: 0;
      padding: 10px 0;
    }
  }
  li:first-child{
    padding-top: 12px;

    &:after{
      top: 20px;
    }

    @include for-992{
      border: 0;
      padding: 10px 0;
    }

  }
  li:last-child{
    padding-bottom: 12px;

    @include for-992{
      border: 0;
      padding: 10px 0;
    }

  }


  @include for-992{
    &:after{
      content: '';
      display: block;
      width: 12px;
      height: 8px;
      background: url("../img/icon/Arrow-b.svg") center center no-repeat;
      position: absolute;
      right: 50%;
      margin-right: -120px;
      top: 10px;
      transform: translateY(-50%);
    }

    &.open:after{
      transform:rotate(-180deg);
      top: 7px;
    }
  }

}

//.hexagon{
//  width: 308px;
//  height: 261px;
//  background: #00000000;
//  border-radius: 100%;
//  margin-top: 20px;
//  overflow: hidden;
//
//  &__img{
//    width: 280px;
//    height: 267px;
//    margin-top: -3px;
//    background: #ffffff00;
//    display: block;
//    clip-path: polygon(0 28%, 50% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%);
//    background: url("../img/hex-1.png") center center no-repeat;
//  }
//}
