footer.footer
  .footer__inner.site-container
    .footer__top
      .footer__logo
        a(href="#")
          picture
            source(srcset="./img/logopraktikB.webp" type="image/webp")
            source(srcset="./img/logopraktikB.png" type="image/png")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="159" height="47")
      .footer__menu
        .footer__menu-i
          a(href="#").footer__menu-link АЛКОГОЛИЗМ
        .footer__menu-i
          a(href="#").footer__menu-link НАРКОМАНИЯ
        .footer__menu-i
          a(href="#").footer__menu-link РЕАБИЛИТАЦИЯ
        .footer__menu-i
          a(href="#").footer__menu-link ФИЛИАЛЫ
        .footer__menu-i
          a(href="#").footer__menu-link ЦЕНЫ
        .footer__menu-i
          a(href="#").footer__menu-link РОДИТЕЛЯМ
        .footer__menu-i
          a(href="#").footer__menu-link О НАС
        .footer__menu-i
          a(href="#").footer__menu-link КОНТАКТЫ
    .footer__bottom
      .footer__col
        .footer__sotial
          a(href="#").footer__sotial-i
            include ../../img/svg/vk.svg
          a(href="#").footer__sotial-i
            include ../../img/svg/inst.svg
          a(href="#").footer__sotial-i
            include ../../img/svg/fb.svg
          a(href="#").footer__sotial-i
            include ../../img/svg/ok.svg
      .footer__col
        .footer__address.site-address Олеко Дундича ул., 25, Москва, 121096
      .footer__col
        a(href="tel:+78003012803").footer__phone.site-phone тел. +7 (800) 301-28-03
      .footer__col
        a(href="#").footer__callback.site-btn.site-btn--red Обратный звонок

      .footer__col
        a(href="#").footer__bottom-link Согласие с рассылкой
      .footer__col
        a(href="#").footer__bottom-link Отказ от ответственности
      .footer__col
        a(href="#").footer__bottom-link.footer__bottom-link--underline Политика конфиденциальности
      .footer__col
        a(href="#").footer__bottom-link Медицинский наркологический центр «ПРАКТИК» © 2020





