footer.footer
  .footer__inner.site-container
    .footer__top
      .footer__logo
        a(href="#")
          picture
            source(srcset="./img/logopraktikB.webp" type="image/webp")
            source(srcset="./img/logopraktikB.png" type="image/png")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="159" height="47")
      .footer__menu
        .footer__menu-i
          a(href="#").footer__menu-link АЛКОГОЛИЗМ
        .footer__menu-i
          a(href="#").footer__menu-link НАРКОМАНИЯ
        .footer__menu-i
          a(href="#").footer__menu-link РЕАБИЛИТАЦИЯ
        .footer__menu-i
          a(href="#").footer__menu-link ФИЛИАЛЫ
        .footer__menu-i
          a(href="#").footer__menu-link ЦЕНЫ
        .footer__menu-i
          a(href="#").footer__menu-link РОДИТЕЛЯМ
        .footer__menu-i
          a(href="#").footer__menu-link О НАС
        .footer__menu-i
          a(href="#").footer__menu-link КОНТАКТЫ
    .footer__bottom
      .footer__col
        .footer__sotial
          a(href="#").footer__sotial-i
            include ../../img/svg/vk-f.svg
          a(href="#").footer__sotial-i
            include ../../img/svg/inst-f.svg
          a(href="#").footer__sotial-i
            include ../../img/svg/fb-f.svg
          a(href="#").footer__sotial-i
            include ../../img/svg/ok-f.svg
      .footer__col
        .footer__address.site-address Олеко Дундича ул., 25, Москва, 121096
      .footer__col
        a(href="tel:+78003012803").footer__phone.site-phone тел. +7 (800) 301-28-03
      .footer__col
        a(href="#").footer__callback.site-btn.site-btn--red Обратный звонок

      .footer__col
        a(href="#").footer__bottom-link Согласие с рассылкой
      .footer__col
        a(href="#").footer__bottom-link Отказ от ответственности
      .footer__col
        a(href="#").footer__bottom-link.footer__bottom-link--underline Политика конфиденциальности
      .footer__col
        a(href="#").footer__bottom-link Медицинский наркологический центр «ПРАКТИК» © 2020

.popup.callback
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.callback__content.site-container
        .callback__img.b-lazy.webp-img(data-webp="./img/popup-img.webp"
          data-webp-mobile=""
          data-img="./img/popup-img.jpg"
          data-img-mobile="")

        .callback__form
          .top-block__form-inner
            .top-block__form-title Оставить заявку <b>НА БЕСПЛАТНУЮ</b> консультацию нарколога
            form.top-block__form-i
              input(type="text" placeholder="Ваше имя" required)
              input(type="text" inputmode="numeric" placeholder="+7 (___) ___-__-__").phone
              .site-btn--img-wrap
                button(style='display: none;')
                a(href="#").top-block__form-btn.site-btn--red.site-btn--img отправить
                  picture
                    source(srcset="./img/icon/blokno-ico.webp" type="image/webp")
                    source(srcset="./img/icon/blokno-ico.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="100" height="93")
            .top-block__form-capt Ваши данные не попадут к третьим лицам и останутся конфиденциальны.

          .callback__logo
            picture
              source(srcset="./img/logopraktik.webp" type="image/webp")
              source(srcset="./img/logopraktik.png" type="image/png")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="159")



        //.site-form-submit
          .site-form-submit__title Ваша заявка принята
          .site-form-submit__caption Мы свяжемся с вами и расскажем как помочь вашему близкому





