header.header
  .header__inner.site-container
    .header__logo
      a(href="#")
        picture
          source(srcset="./img/logopraktik.webp" type="image/webp")
          source(srcset="./img/logopraktik.png" type="image/png")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

    ul.header__menu
      li.header__menu-item.has-submenu-first
        a(href='#').header__menu-link АЛКОГОЛИЗМ
        ul.header__submenu
          li.header__submenu-item.has-submenu
            a(href="#").header__submenu-link.header__submenu-link-style Лечение алкоголизма
            ul.header__submenu2
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение детского
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Хронический алкоголизм
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение пивного
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение подростков
          li.header__submenu-item.has-submenu
            a(href="#").header__submenu-link.header__submenu-link-style Вывод из запоя
            ul.header__submenu2
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style В стационаре
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style На дому
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Капельница от похмелья
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение запоя
          li.header__submenu-item.has-submenu
            a(href="#").header__submenu-link.header__submenu-link-style Кодирование от алкоголизма
            ul.header__submenu2
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Вшивание ампулы
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Вшивание Эспераль
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Кодировка в МСК на дому
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Детоксикация
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Женский алкоголизм
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Нарколог на дом
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Амбулаторное лечение
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Старческий алкоголизм

      li.header__menu-item.has-submenu-first
        a(href='#').header__menu-link НАРКОМАНИЯ
        ul.header__submenu
          li.header__submenu-item.has-submenu
            a(href="#").header__submenu-link.header__submenu-link-style Лечение наркомании
            ul.header__submenu2
              li.header__submenu2-item.has-submenu
                a(href="#").header__submenu-link.header__submenu-link-style Аптечные наркотики
                ul.header__submenu3
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Атуссин
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Баклофен
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Гликодин
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Декстрометорфан
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Димедрол
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Лирика
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Нурофен-плюс
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Паркопан
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Пенталгин
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Риталин
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Седагин
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Седал-М
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Тарен
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Терпинкод
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Трамадол
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Тропикамид
                  li.header__submenu3-item
                    a(href="#").header__submenu-link.header__submenu-link-style Туссин-плюс
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение от амфетамина
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение от спайса
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение подростков
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение от солей
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение от героина
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Лечение от метадона
              li.header__submenu2-item
                a(href="#").header__submenu-link.header__submenu-link-style Наркотик Лирика

          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Снятие ломки
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Наркологическая помощь на дому
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Детоксикация наркозависимых
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style УБОД
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Подшивка от наркомании
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Тестирование на наркотики
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Кодирование


      li.header__menu-item.has-submenu-first
        a(href='#').header__menu-link РЕАБИЛИТАЦИЯ
        ul.header__submenu
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Реабилитация наркозависимых
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Реабилитация алкоголиков
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Ресоциализация наркозависимых
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Лечение игромании

      li.header__menu-item
        a(href='#').header__menu-link ФИЛИАЛЫ
      li.header__menu-item
        a(href='#').header__menu-link ЦЕНЫ
      li.header__menu-item.has-submenu-first
        a(href='#').header__menu-link РОДИТЕЛЯМ
        ul.header__submenu
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Мотивация на лечение
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Виды наркотиков
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Признаки употребления наркотиков
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Новости

      li.header__menu-item.has-submenu-first
        a(href='#').header__menu-link О НАС
        ul.header__submenu
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Книга Бабаскина Е.П: «Героин на всю жизнь»
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Врачи
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Отзывы
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Фотографии
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Лицензии, сертификаты, дипломы
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Наркологический стационар
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Наркологический диспансер
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Услуги нарколога
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Наши гарантии
          li.header__submenu-item
            a(href="#").header__submenu-link.header__submenu-link-style Консультация нарколога

      li.header__menu-item
        a(href='#').header__menu-link КОНТАКТЫ

      li.header__menu-item.tablet
        .footer__col
          .footer__address.site-address Олеко Дундича ул., 25, Москва, 121096
        .footer__col
          .footer__sotial
            a(href="#").footer__sotial-i
              include ../../img/svg/vk.svg
            a(href="#").footer__sotial-i
              include ../../img/svg/inst.svg
            a(href="#").footer__sotial-i
              include ../../img/svg/fb.svg
            a(href="#").footer__sotial-i
              include ../../img/svg/ok.svg


    a(href="#" data-modal-class="callback").header__btn.site-btn ОБРАТНЫЙ ЗВОНОК
    a(href="tel:88003012803").header__phone т. 8 (800) 301-28-03
    a(href="#").header__menu-btn




































